.movieDetail {
	img {
		height: 250px;
	}
    input{
        margin: 0;
        display: block;
        width: 400px;
    }
    .movie-content{
        width: 400px;
    }
    input[name="ngayChieuGioChieu"]{
        width: 260px;
    }
    input[name="giaVe"]{
        width: 120px;
    }
}
