.userList {
	height: 100%;
	width: 100%;
	.userList-header {
		h1 {
			font-size: 28px;
			margin: auto 0px;
		}
		button {
			height: 60%;
			margin: auto 0px;
		}
		display: flex;
		justify-content: space-between;
		.add-btn {
			// border: 1px solid rgb(69, 118, 255);
			background-color: #51b3d6;
			border-radius: 8px;
			color: white;
			transition: 0.5s all ease;
		}
	}
	.col-sm-12 {
		font-size: 0.88rem;
		.table {
			margin: 0;
			.odd {
				background-color: rgb(230, 235, 255);
				// background-color: rgb(240, 96, 0);
			}
			td,
			th {
				padding: 5px;
				vertical-align: middle;
				border: 1px solid rgb(159, 158, 211);
			}

			input {
				width: 100%;
				border: none;
				outline: none;
				border-bottom: 2px solid red;
				// transition: 0.5 all ease;
				&:focus {
					padding-bottom: 3px;
				}
			}
			.lds-ring {
				display: inline-block;
				position: relative;
				width: 80px;
				height: 80px;
			}
			.lds-ring div {
				box-sizing: border-box;
				display: block;
				position: absolute;
				width: 64px;
				height: 64px;
				margin: 8px;
				border: 8px solid #cef;
				border-radius: 50%;
				animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
				border-color: #cef transparent transparent transparent;
			}
			.lds-ring div:nth-child(1) {
				animation-delay: -0.45s;
			}
			.lds-ring div:nth-child(2) {
				animation-delay: -0.3s;
			}
			.lds-ring div:nth-child(3) {
				animation-delay: -0.15s;
			}
			@keyframes lds-ring {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
		// .newUserForm {
		// 	margin-bottom: 20px;
		// 	input {
		// 		border: none;
		// 		outline: none;
		// 		border-bottom: 2px solid rgb(192, 192, 255);
		// 		&:focus {
		// 			background-color: rgb(232, 232, 235);
		// 		}
		// 	}
		// }
	}

	.form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px;
	}
	.search-bar {
		input {
			width: 400px;
			border: 1px solid rgb(69, 118, 255);
			border-radius: 0;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			outline: none;
			padding: 0px 10px;
			font-size: 16px;
		}
		display: flex;
		position: relative;
		.search-bar-close {
			color: rgb(69, 118, 255);
			transform: rotate(45deg) translateY(-5px);
			font-size: 28px;
			position: absolute;
			right: 80px;
			cursor: pointer;
		}
		button {
			border-radius: 0;
			border: 1px solid rgb(69, 118, 255);
			background-color: rgb(69, 118, 255);
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			color: white;
			transition: 0.5s all ease;
			&:hover {
				color: white;
				border: 1px solid rgb(65, 105, 216);
				background-color: rgb(65, 105, 216);
			}
		}
	}
	// .search-button {
	// }
}
