section.login {
	.login__content {
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 40px 80px rgba(0, 0, 0, 0.12);
		background-color: rgb(255, 255, 255);
		width: 30%;
		height: 60%;
		text-align: center;
		h3 {
			margin: 40px auto;
			font-size: 24px;
			text-align: center;
		}
		form {
			margin: 0 auto;
			.alert {
				width: 80%;
				margin: 20px auto;
				font-size: 14px;
				padding: 10px;
			}
			button {
				// margin: 20px auto;
				margin-top: 10px;
				width: 80%;
				background-color: rgb(108, 117, 245);
				color: white;
			}
			.form-group {
				width: 80%;
				margin: 20px auto;
			}
			// input {
			// 	width: 80%;
			// 	margin: 0;
			// }
		}
	}

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(247, 251, 255);
	height: 100vh;
}
