@import "../src/scss/footer";
@import "../src/scss/advertise";
@import "../src/scss/carousel";
@import "../src/scss/navbarhome";
@import "../src/scss/news";
@import "../src/scss/mixin";
@import "../src/scss/searchbar";
@import "../src/scss/listmovie";
@import "../src/scss/cinematable";
@import "../src/scss/detailPage";
@import "../src/scss/schedule";
@import "./../src/scss/admin/userList";
@import "./../src/scss/login/login";
@import "./../src/scss/admin/movieDetail.scss";
@import "./../src/scss/admin/movieCard.scss";
@import "./../src/scss/admin/searchBox.scss";
@import "./../src/scss/admin/dropdown.scss";
@import "./../src/scss/admin/modal";
@import "./../src/scss/admin//navPage";
@import "./../src/scss/admin/admin";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// html,
// body {
// 	height: 100%;
// }
