@import '../src/scss/footer';
@import '../src/scss/advertise';
@import '../src/scss/carousel';
@import '../src/scss/navbarhome';
@import '../src/scss/news';
@import '../src/scss/mixin';
@import '../src/scss/searchbar';
@import '../src/scss/listmovie';
@import '../src/scss/cinematable';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}