.carousel {
    a {
        background: linear-gradient(to top, #000, transparent 17%);
        img {
            width: 60px;
            height: 60px;

        }
        .prev-session {
            transform: rotate(180deg);
        }
        
    }

}