@import './variable';

.search {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: absolute;
    z-index: 1;
    transform: translate(15%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 30%);
    .search-item {
        .dropdown {
            border: none;
            outline: none;
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
        }
        
        button {
            border: none;
            outline: none;
            background-color: $color-gray6;
            color: white;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 0 2px;
        }
    }
}